@{
  try
  {
    var table = UrlData[0];
    if(table != null || !table.IsEmpty())
    {
      <div id="content-loading" class="centralized" style="display: none">
        <img src="/images/loader-fb.gif" alt="loading"/>
      </div>
      <div>
        <h4>Viewing: <strong>@table</strong>&nbsp&nbsp&nbsp<button class="btn btn-primary" onclick="addData('@table')">Add New Data</button></h4>
      </div>

      var query = "";
      switch(table)
      {
        case "Data Produk": query = "select * from product"; break;
        case "Data Detail": query = "select * from product_detail"; break;
        case "Data Kategori": query = "select * from category"; break;
        case "Data Ukuran": query = "select * from size"; break;
        case "Data Warna": query = "select * from color"; break;
        case "Data Gambar": query = "select * from image"; break;
        case "Data Kecamatan": query = "select * from kecamatan"; break;
        case "Data Kota": query = "select * from kota"; break;
        case "Data Provinsi": query = "select * from provinsi"; break;
        case "Data Jasa Pengiriman": query = "select * from jasa_pengiriman"; break;
        case "Data Jenis Pengiriman": query = "select * from jenis_pengiriman"; break;
        case "Data Ongkos Kirim": query = "select * from ongkos_kirim"; break;   
      }

      if(!query.IsEmpty())
      {
        try
        {
          var db = Database.Open("SalimahFashionDB");
          var data = db.Query(query);
          string[] colData = data.ElementAt(0).Columns.ToArray();
          
          // data table
          <table class="table table-hover">
              <thead>
                  <tr>
                      @foreach(var col in colData)
                      {
                          <th>@col</th>
                      }
                  </tr>
              </thead>
              <tbody>
                  @foreach(var row in data)
                  {
                      <tr>
                      @foreach(var col in colData)
                      {
                          <td>@row[col]</td>
                      }
                          <td><button class="btn btn-danger" onclick="deleteData('@table', '@row[colData[0]]')">Delete</button></td>
                      </tr>
                  }
              </tbody>
          </table>
        }
        catch(Exception e)
        {
          <p>Cannot perform query.</p>
          <p>@e.Message</p>
        }
      }
    }
    else
    {
      <p>Request data cannot be null nor empty.</p>
    }
  }
  catch(Exception ex)
  {
    <p>Couldn't handle this request.</p>
    <p>@ex.Message</p>
  }
}

